In [1]:
import os
import json
# from ./../Utils.data.preprocessing import load_rizhiyi_json_file_as_dataframe
from data.preprocessing import load_rizhiyi_json_file_as_dataframe
import pandas as pd
import numpy as np

In [2]:
root_dir = "./../../../data/riviyi_test"
filename = "o2_process_load_percent.json"
# filename = "o1.json"
# filename = "o2.json"

log_data:pd.DataFrame = load_rizhiyi_json_file_as_dataframe(root_dir, filename)

log_data.head()

,kpi_id,kpiName,time_interval_ms,endpoint,appname,service,name,anonymity,context_id,value,ts,timestamp
0,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,14.217,2020-09-30:23:59:00.000,1601481580000
1,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,14.110,2020-09-30:23:58:00.000,1601481520000
2,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,13.964,2020-09-30:23:57:00.000,1601481460000
3,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,13.219,2020-09-30:23:56:00.000,1601481400000
4,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,13.613,2020-09-30:23:55:00.000,1601481340000

In [3]:
log_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127716 entries, 0 to 127715
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   kpi_id            127716 non-null  object
 1   kpiName           127716 non-null  object
 2   time_interval_ms  127716 non-null  object
 3   endpoint          127716 non-null  object
 4   appname           127716 non-null  object
 5   service           127716 non-null  object
 6   name              127716 non-null  object
 7   anonymity         127716 non-null  int64
 8   context_id        127716 non-null  int64
 9   value             127716 non-null  float64
 10  ts                127716 non-null  object
 11  timestamp         127716 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 11.7+ MB

In [4]:
log_data['value'].isnull().sum()

0

In [5]:
max(log_data['value']), min(log_data['value'])

(100.0, 0.162)

In [6]:
sum(log_data['value']==0.0)

0

检查数据中是否存在异常点

In [7]:
log_data['anonymity'].sum()

0

对时间进行生序排列

In [8]:
log_data.sort_values('timestamp', inplace=True, ignore_index=True)
log_data.head()

,kpi_id,kpiName,time_interval_ms,endpoint,appname,service,name,anonymity,context_id,value,ts,timestamp
0,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,23.369,2020-07-01:00:01:00.000,1593532912000
1,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,24.000,2020-07-01:00:02:00.000,1593532972000
2,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,27.787,2020-07-01:00:03:00.000,1593533032000
3,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,23.506,2020-07-01:00:04:00.000,1593533092000
4,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,24.867,2020-07-01:00:05:00.000,1593533152000

In [9]:
def format_timestr(timestr:str):
    """
    重新格式化一下日志易的时间格式，原来的格式我看不习惯
    """
    timestr = timestr.split('.')[0]
    strs = timestr.split(':')
    return strs[0] + " " + strs[1] + ":" + strs[2] + ":" + strs[3]

In [10]:
format_timestr('2020-07-01:00:01:00.000')

'2020-07-01 00:01:00'

修改一下原来的时间格式

In [11]:
log_data['ts'] = [format_timestr(ts) for ts in log_data['ts']]
log_data.head()

,kpi_id,kpiName,time_interval_ms,endpoint,appname,service,name,anonymity,context_id,value,ts,timestamp
0,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,23.369,2020-07-01 00:01:00,1593532912000
1,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,24.000,2020-07-01 00:02:00,1593532972000
2,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,27.787,2020-07-01 00:03:00,1593533032000
3,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,23.506,2020-07-01 00:04:00,1593533092000
4,3b18bacd588cc1f0c68615f0deb2f3d4,负载占比,60000,oppf_esb_2_10.255.34.38,kpi_point,集群负载.能力开放.2,负载占比,0,0,24.867,2020-07-01 00:05:00,1593533152000

检查数据中有没有漏掉的时刻

In [12]:
# 看一下首尾的时间
ts_array = log_data['ts'].to_numpy()
ts_array[0], ts_array[-1]

('2020-07-01 00:01:00', '2020-09-30 23:59:00')

首尾时间所对照的间隔为1分钟的时间范围

In [13]:
ts_range = pd.date_range(ts_array[0], ts_array[-1], freq='min')
ts_range

DatetimeIndex(['2020-07-01 00:01:00', '2020-07-01 00:02:00',
               '2020-07-01 00:03:00', '2020-07-01 00:04:00',
               '2020-07-01 00:05:00', '2020-07-01 00:06:00',
               '2020-07-01 00:07:00', '2020-07-01 00:08:00',
               '2020-07-01 00:09:00', '2020-07-01 00:10:00',
               ...
               '2020-09-30 23:50:00', '2020-09-30 23:51:00',
               '2020-09-30 23:52:00', '2020-09-30 23:53:00',
               '2020-09-30 23:54:00', '2020-09-30 23:55:00',
               '2020-09-30 23:56:00', '2020-09-30 23:57:00',
               '2020-09-30 23:58:00', '2020-09-30 23:59:00'],
              dtype='datetime64[ns]', length=132479, freq='T')

判断是否缺失数据

In [14]:
len(log_data), len(ts_range)

(127716, 132479)

**缺失数据，需要重新创建刘表**

In [25]:
# 集群负载值
cluser_values = np.zeros(len(ts_range))
ts_full = [dt.strftime('%Y-%m-%d %H:%M:%S') for dt in ts_range]
# log_data_full = pd.DataFrame(data={'value':cluser_values, 'ts':ts_full})
log_data_full = pd.DataFrame(data={ 'ts':ts_full})
log_data_full.head()

                    ts
0  2020-07-01 00:01:00
1  2020-07-01 00:02:00
2  2020-07-01 00:03:00
3  2020-07-01 00:04:00
4  2020-07-01 00:05:00

In [16]:
# for ts in log_data['ts']:
#     log_data_full[log_data_full['ts']==ts]['value']=log_data[log_data['ts']==ts]['value']

# log_data_full.head()

In [27]:
result = pd.merge(log_data_full, log_data, how='left', on=[ 'ts'])

In [24]:
result.head()

,value,ts,kpi_id,kpiName,time_interval_ms,endpoint,appname,service,name,anonymity,context_id,timestamp
0,0.0,2020-07-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,2020-07-01 00:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,2020-07-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,2020-07-01 00:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,2020-07-01 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133958 entries, 0 to 133957
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ts                133958 non-null  object
 1   kpi_id            127716 non-null  object
 2   kpiName           127716 non-null  object
 3   time_interval_ms  127716 non-null  object
 4   endpoint          127716 non-null  object
 5   appname           127716 non-null  object
 6   service           127716 non-null  object
 7   name              127716 non-null  object
 8   anonymity         127716 non-null  float64
 9   context_id        127716 non-null  float64
 10  value             127716 non-null  float64
 11  timestamp         127716 non-null  float64
dtypes: float64(4), object(8)
memory usage: 13.3+ MB